# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
private_settings.py
migrations

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/
myblogenv/

# IDE stuff
.idea

# local DB
myblog.sqlite3

# blog entry test
new-entry.html
