# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# uncollected static files
/bingo/static/
/blog/static/
/home/static/
/polls/static/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
private_settings.py
migrations

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/
myblogenv/
myblog_env/

# IDE stuff
.idea

# local DB
myblog.sqlite3

# blog entry test
new-entry.html
new-entry.css
reference.html

# local media files
/myblog/myblog/media/
