appdirs==1.4.3
Django==2.2.2
django-recaptcha==1.4.0
django-tinymce4-lite==1.7.2
jsmin==2.2.2
olefile==0.44
packaging==16.8
Pillow==9.0.1
pkg-resources==0.0.0
pyenchant==1.6.8
pyparsing==2.2.0
pytz==2019.1
six==1.10.0
sqlparse==0.3.0
virtualenv==15.1.0
