li a {
    text-decoration: none;
    color: #68829e;
    font-weight: 600;
    transition: all .2s;
    transition-timing-function: ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #aebd38;
    transition: all .2s;
    transition-timing-function: ease-in-out;
}