a {
    color: green
}

h1 {
    background-color: blue;
    color: white;
    margin-top: 75px;
}

body {
    background: white url("images/background.jpg") no-repeat right bottom;
    margin-top: 75px;
}