{% load static %}

body{
    padding-top: 50px;
}

.bg {
    background: url('../images/jumbotron-test.png') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 250px; /*same height as jumbotron */
    top:50;
    left:0;
    z-index: -1;
}

.jumbotron {
    text-align: left;
    height: 250px;
    color: white;
    background:transparent;
    font-family: courier;
}

.footer {
    width: 100%;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    padding: 10px;
}
.footer a{
    color: #9d9d9d;
}
.footer a:hover{
    color: #fff
}

#brand {
    padding: 8px;
}