{% extends 'header.html' %}
{% load static %}

{% block title %}{{ about.title }}{% endblock %}
{% block jumbotron %}
<div class="bg bg-about"></div>
<div class="jumbotron">
    <div class="jumbotron-about">
        <h1>{{ about.title }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="about">
    <ul>
        <li>{{ about.name }}</li>
        <li>Company: {{ about.company }}</li>
        <li>Date Updated: {{ about.pub_date }}</li>
    </ul>
    <p class="bio">
        {{ about.bio|safe|linebreaks }}
    </p>
</div>
{% endblock %}