{% extends 'header.html' %}
{% load static %}
{% block title %}{{ about.title }}{% endblock %}

{% block header %}
    <meta property="og:url" content="https://jaywelborn.pythonanywhere.com{% url 'home:about' %}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="About me"/>
    <meta property="og:description" content="{{ about.bio|striptags }}"/>
    <meta property="og:image" content="https://jaywelborn.pythonanywhere.com{% static 'images/blog-profile.jpg' %}"/>
{% endblock %}

{% block content %}
<div class="page-header center"><h1>{{ about.title }}</h1></div>
<div class="container">
    <img class="portrait" src="{% static 'images/me.jpg' %}"/>
    <div class="about">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <ul>
                    <li>
                        <span class="prompt">
                            Name:
                        </span>
                        <span class="fact">
                            {{ about.name }}
                        </span>
                    </li>
                    {% for fact in fun_fact_list %}
                    <li>
                        <span class="prompt">
                            {{ fact.prompt }}:
                        </span>
                        <span class="fact">
                            {{ fact.fun_fact }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                <p class="bio">
                    {{ about.bio|safe|linebreaks }}
                </p>
                <hr>
                <p class="update">
                    Date Updated: {{ about.pub_date }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}