{% extends 'header.html' %}
{% load static %}

{% block title %}{{ contact.title }}{% endblock %}

{% block header %}
    <meta property="og:url" content="https://jaywelborn.pythonanywhere.com{% url 'home:contact' %}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Contact Me"/>
    <meta property="og:description" content="Find me on Facebook, Github, or Send me an Email"/>
    <meta property="og:image" content="https://jaywelborn.pythonanywhere.com{% static 'images/blog-profile.jpg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}"/>
{% endblock %}

{% block content %}

<main>
    <div class="bg"></div>
    <!-- Display Success Message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- End Success Message -->
    <section id="contact-page">
        <h1>{{ contact.title }}</h1>
        <!-- Display Form Errors -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <!-- End Form Errors -->
        <!-- Contact Page Image -->
        <img class="portrait" src="{% static 'images/london-7.jpg' %}"/>
        <!-- Contact Info/Form -->
        <section id="contact-info">
            <!-- Social Media Icons -->
            <ul class="social">
                {% if contact.facebook %}
                <li>
                    <a href="{{ contact.facebook }}">
                        <img class="icon" src="{% static 'images/facebook-icon.png' %}"/>
                    </a>
                </li>
                {% endif %}
                {% if contact.github %}
                <li>
                    <a href="{{ contact.github }}">
                        <img class="icon" src="{% static 'images/github-icon.png' %}"/>
                    </a>
                </li>
                {% endif %}
                {% if contact.linkedin %}
                <li>
                    <a href="{{ contact.linkedin }}">
                        <img class="icon" src="{% static 'images/linkedin-icon.png' %}"/>
                    </a>
                </li>
                {% endif %}
                {% if contact.twitter %}
                <li>
                    <a href="{{ contact.twitter }}">
                        <img class="icon" src="{% static 'images/twitter-icon.png' %}"/>
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- End Social Icons -->
            <!-- Start Contact Form -->
            <form action="" method="post" class="contact-form">
                {% csrf_token %}
                <ul class="contact">
                    {{ form.as_ul }}
                    <li><input type="submit" value="Email Me!"></li>
                </ul>
            </form>
            <!-- End Contact Form -->
        </section>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'home/js/about.js' %}"></script>
{% endblock %}