{% extends 'header.html' %}
{% load static %}

{% block header %}
    <meta property="og:url" content="http://www.jaywelborn.com{% url 'home:index' %}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jay Welborn Web Development"/>
    <meta property="og:description" content="Welcome to JayWelborn.com, where responsive
                                             design meets smart engineering."/>
    <meta property="og:image" content="http://www.jaywelborn.com{% static 'images/blog-profile.jpg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
{% endblock %}

{% block jumbotron %}
    <div class="bg bg-index"></div>
    <div class="jumbotron">
        <div class="jumbotron-home">
            <h1>Jay Welborn</h1>
            <hr>
            <div class="typed-wrapper">
                <div id="typed-strings">
                    <p>Software Engineer</p>
                    <p>Web Dvlpoe</p>
                    <p>Web Developer</p>
                    <p>Musician</p>
                    <p>Nerd</p>
                </div>
                <p id="typed"></p>
            </div>
            <a href="{% url 'home:about'%}">Learn More</a>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="python-django" class="index-container">
    <div class="index-content">
        <div class="logo-container">
            <a href="//www.python.org">
                <img class="index-logo" alt="Python" title="Python"
                     src="{% static 'images/python-logo.png' %}"/>
            </a>
            <a href="www.djangoproject.com">
                <img class="index-logo" alt="Django" title="Django"
                     src="{% static 'images/django-logo-negative.png' %}"/>
            </a>
        </div>
        <div class="text-container">
            <h1>Software Engineer</h1>
            <hr>
            <p>
                The Django framework allows me to develop scalable, maintainable Python web applications
                quickly.
            </p>
        </div>
    </div>
</section>
<section id="html-css-javascript" class="index-container">
    <div class="index-content">
        <div class="text-container">
            <h1>Web Developer</h1>
            <hr>
            <p>
                HTML, CSS, and Javascript let me give your content the presentation it deserves.
            </p>
        </div>
        <div class="logo-container">
            <a href="//www.w3schools.com/html/html5_intro.asp">
                <img class="index-logo" alt="HTML5" title="HTML5"
                     src="{% static 'images/HTML5-logo.png' %}"/>
            </a>
            <a href="//www.w3schools.com/css/css3_intro.asp">
                <img class="index-logo" alt="CSS3" title="CSS3"
                     src="{% static 'images/css-logo.png' %}"/>
            </a>
            <a href="//www.javascript.com/">
                <img class="index-logo" alt="Javascript" title="Javascript"
                     src="{% static 'images/JS.png' %}"/>
            </a>
        </div>
    </div>
</section>

<script>
  var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 50,
      backSpeed: 65,
      backDelay: 500,
      startDelay: 500,
      loop: true,
      showCursor: false,
      smartBackspace: true
  });
</script>
{% endblock %}