<!DOCTYPE html>
<html lang="en-us">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'jw32x32.png' %}"/>
    {% block header %}
    {% endblock %}
    <title>{% block title %}JayWelborn{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:index' %}">
                        <img alt="Jay Welborn" src="{% static 'jwbrand.png' %}"/>
                </a>
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home:index' %}">Home</a></li>
                    <li><a href="{% url 'home:about' %}">About Me</a></li>
                    <li><a href="{% url 'home:contact' %}">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Projects<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'blog:index' %}">Blog</a></li>
                            <li><a href="{% url 'polls:index' %}">Polls</a></li>
                        </ul>
                    </li>

                </ul>
                <p class="navbar-text navbar-right">Jdevelops</p>
            </div>
        </div>
    </nav>

        {% block jumbotron %}
        {% endblock %}

    <div class="container">
        {% block content %}
            This is my homepage.
        {% endblock %}
    </div>
    <hr>
    <footer class="nav">
        &copy; Jay Welborn 2017
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
</body>
</html>