{% extends 'header.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/prism.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/'|add:entry.slug|add:'.css'  %}"/>
    <script src="{% static 'blog/prism.js' %}"></script>
    <!-- Facebook og properties -->
    <meta property="og:url" content="https://jaywelborn.pythonanywhere.com{% url 'blog:detail' entry.id entry.slug%}" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ entry.title }}" />
    <meta property="og:description" content="{{ entry.body|striptags }}"/>
    <!-- End og properties -->
    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@__JayWelborn__" />
    <meta name="twitter:title" content="{{ entry.title }}" />
    <meta name="twitter:description" content="{{ entry.body|striptags }}" />
    {% if entry.header_image %}
        <meta property="og:image" content="https://jaywelborn.pythonanywhere.com{{ entry.header_image.url }}"/>
        <meta name="twitter:image" content="https://jaywelborn.pythonanywhere.com{{ entry.header_image.url }}" />
        <style type="text/css">
            .bg-blog-detail {
                background: url('{{ entry.header_image.url }}') no-repeat center center;
            }
            @media screen and (orientation:landscape) {
                .bg-blog-detail{
                    background-size: 100% auto;
                }
            }
        </style>
    {% else %}
        <meta name="twitter:image" content="https://jaywelborn.pythonanywhere.com{% static 
            'images/blog-profile.jpg' %"/>
        <meta property="og:image" content="https://jaywelborn.pythonanywhere.com{% static 
            'images/blog-profile.jpg' %}"/>
        <style type="text/css">
            .bg-blog-detail {
                background: url({% static 'images/jumbotron-test.jpg' %}) no-repeat center center;
                background-size: 100%;
            }
        </style>
    {% endif %}
    <style type="text/css">
        .bg-blog {
            background: url({% static 'images/blue-angle.jpg' %}) no-repeat center center;
        }
    </style>
{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}


{% block jumbotron %}
<div class="bg bg-blog-detail"></div>
<div class="jumbotron vertical-center">
    <div class="jumbotron-text">
        <h1>{{ entry.title }}</h1>
        <p></p>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="bg-blog"></div>
<div class="blog">
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <img class="blog-profile-picture" src="{% static 'images/blog-profile.jpg' %}"/>
    <div class="publication-info">
        Published on: <br/>
        <span class="blog-date">{{ entry.pub_date.date }}</span>
    </div>
    <div class="blog-entry">{{ entry.body|safe }}</div>


    {% if entry.tags %}
    <div class="tags">
        Tags:
        {% for tag in entry.tags.all %}
        <a href="{% url 'blog:tag_detail' tag.id tag.slug %}" class="tag-detail-link">
            <span class="blog-tag">
                {{ tag.title }}
            </span>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'blog/blog.js' %}"></script>
{% endblock %}