{% extends 'header.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/'|add:entry.slug|add:'.css'  %}"/>
    <meta property="og:url" content="https://jaywelborn.pythonanywhere.com{% url 'blog:detail' entry.id entry.slug%}" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ entry.title }}" />
    <!-- TODO: Add description to model Blog and replace this with each blog's description -->
    <meta property="og:description" content="{{ entry.body|striptags }}"/>
    {% if entry.header_image %}
        <meta property="og:image" content="https://jaywelborn.pythonanywhere.com{{ entry.header_image.url }}"/>
        <style type="text/css">
            .bg-blog-detail {
                background: url('{{ entry.header_image.url }}') no-repeat center center;
            }
        </style>
    {% else %}
        <meta property="og:image" content="https://jaywelborn.pythonanywhere.com{% static 'images/blog-profile.jpg' %}"/>
    {% endif %}
{% endblock %}


{% block jumbotron %}
{% if entry.header_image %}
        <div class="bg bg-blog-detail"></div>
        <div class="jumbotron vertical-center">
            <div class="jumbotron-text">
                <h1>{{ entry.title }}</h1>
                <p></p>
            </div>
        </div>
{% endif %}
{% endblock %}


{% block content %}
<div class="blog">
    {% if not entry.header_image %}
    <div class="page-header center"><h1>{{ entry.title }}</h1></div>
    {% endif %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <img class="blog-profile-picture" src="{% static 'images/blog-profile.jpg' %}"/>
    <div class="publication-info">
        Published on: <br/>
        <div class="blog-date">{{ entry.pub_date.date }}</div>
    </div>
    <div class="blog-entry">{{ entry.body|safe }}</div>
</div>

{% if entry.tags %}
<div class="tags">
    Tags:
    {% for tag in entry.tags.all %}
    <a href="{% url 'blog:tag_detail' tag.id tag.slug %}" class="tag-detail-link">
        <span class="tag">
            {{ tag.title }}
        </span>
    </a>
    {% endfor %}
</div>
{% endif %}

{% endblock %}